@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Dosis", cursive;
  font-weight: 700;
}
div.foo {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter {
  display: inline-block;
  font-weight: 900;
  font-size: 12em;
  margin: 0em;
  position: relative;
  color: #072212;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before,
.letter:after {
  position: absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top: 0;
  left: 0;
}
.letter,
.letter:before,
.letter:after {
  transition: all 0.1s ease-in-out;
}
.letter:before {
  color: rgb(177, 248, 204);
  text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.8),
    1px 0px 1px rgba(0, 0, 0, 0.8);
  z-index: 3;
  transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.letter:after {
  color: rgba(0, 0, 0, 0.11);
  z-index: 2;
  transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    skew(0deg, 1deg);
}
.letter:hover:before {
  color: #b8f8ea;
  transform: rotateX(0deg) rotateY(-60deg) rotateZ(5deg);
}
.letter:hover:after {
  transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg)
    skew(0deg, 22deg);
}
